/* :root {
  --neon-text-color: rgb(4,226,149);
  --neon-border-color:rgb(47,78,187);
} */

.pageName {
  margin: 20px 20px;
  text-decoration: none;
  font-size: 25px;
  letter-spacing: 5px;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 10px;
  padding: 0 5px;
  /* animation: flicker 1.5s infinite alternate;      */
  transform: rotate(-8deg);
}
/* 
h1::-moz-selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

h1::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

h1:focus {
  outline: none;
}

@keyframes flicker {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      
        
        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 4rem var(--neon-border-color);        
    }
    
    20%, 24%, 55% {        
        box-shadow: none;
    }    
} */
.logo_div {
  display: flex;
  align-items: center;
  position: relative;
  left: 110px;
}
.head_section {
  background: #1C1E22;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 100px;
}
.gamehub_icon {
  height: 80px;
}
.gamehub_icon:hover {
  animation: rotation 0.8s linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.searchBox {
  position: relative;
  right: 50px;
  transform:  translate(0,0);
  background: rgb(28,30,34);
  height: 24px;
  border-radius: 24px;
  padding: 5px;
  box-sizing: content-box;
  border: 1px solid white;
}

.searchBox:hover > .searchInput, .searchInput:not(:placeholder-shown) {
  right: 0;
  width: 240px;
  height: 24px;
  padding: 0 8px;
}

.searchBox:hover > .searchButton{
color : #2A2E33;
}

.searchButton {
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #2A2E33;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  border:none;
  background: none;
  outline:none;
  float:left;
  padding: 0;
  color: white;
  font-size: 14px;
  transition: 0.4s;
  line-height: 30px;
  width: 0px;

}

main > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.material_icons {
  height: 17px;
}

.games_content {
  margin-top: 80px;
}
