.footer {
  margin-top: auto;
    background:#1C1E22;
    width: 100;
    position: relative;
    margin-top: auto;
  }
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:#1C1E22;
  height:75px;
}

.created {
  margin-top: 3px;
}

.heart {
  display: inline-block;
  margin-bottom: -3px;
  color: #ff0000;
}